body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .todo-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.1);
  }
  
  button:nth-child(1) { /* Botão de Editar */
    background-color: #ffc107;
    border-radius: 5px;
  }
  
  button:nth-child(2) { /* Botão de Salvar */
    background-color: #28a745;
    color: white;
    border-radius: 5px;
  }
  
  button:nth-child(3) { /* Botão de Excluir */
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
  }
  
  input {
    padding: 5px;
    font-size: 16px;

    display: inline-block;
  }
  
  .github-icon {
    font-size: 24px;
    color: #000;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.github-icon:hover {
    color: #007BFF;
    transform: scale(1.1);
}
  